body {
  margin: 0;
  background-color: #f5e9e2;
}
nav {
  font-family: 'Oswald', sans-serif;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  font-size: 1.2em;
  text-transform: uppercase;
  width: 100%;
  margin: 0;
  padding: 0.5em 0;
  position: fixed;
  background: #e3b5a4;
}
ul {
  list-style: none;
  display: inline-flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 0;
  margin: 0;
  margin-left: calc(10% / 6);
  flex: 1 2;
}
#brand {
  flex: 2 1;
  color: #773344;
}
li a {
  text-decoration: none;
  color: #f5e9e2;
}

li a:hover {
  text-decoration: underline;
  color: #773344;
}

span {
  margin-left: calc(10% / 6);
}

img {
  width: 30%;
  margin: calc(10% / 6);
  margin-top: 65px;
  transition: 0.5s 0.5ms;
}

img:hover {
  transform: scale(1.06);
  cursor: pointer;
}
